@{
    ViewBag.Title = "About";
    ViewBag.Active = "About";
}
<div class="contactus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>About</h2>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="aboutimg">
                    <h3>About us</h3>
                    <p>
                        We are a family-owned business that has been serving the community for over 50 years. Our mission is to provide high-quality furniture at affordable prices, with exceptional customer service.

                        At Pine Valley Furniture, we believe in using only the finest materials and craftsmanship to create pieces that are both functional and beautiful. We work with local craftsmen and women who share our commitment to quality, and we are proud to support our community in this way.

                        We understand that buying furniture can be a big decision, which is why we offer a no-pressure sales environment and a team of knowledgeable staff who are here to answer any questions you may have. We are committed to making your shopping experience as enjoyable and stress-free as possible.
                    </p>
                    <a href="#">Read More</a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="aboutimg">
                    <figure><img src="../../Content/images/Avangarda_klu.jpg" /></figure>
                </div>
            </div>
        </div>
    </div>
</div>
